html, body {
    height: 100%;
}

.btn-warning {
    background: #FFFF00;
    color: #233140;
    border-color: #FFFF00;
}

.btn-warning:hover {
    background: #FFFF00;
    color: #233140;
    border-color: #233140;
}

#register_submit {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #18bc9c;
    border-color: #18bc9c;
}

#register_submit:hover {
    background: #18bc9c;
    border-color: #233140;
}

body {
    overflow-x: hidden;
}

p {
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #18bc9c;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}

.main-container {
    height: 100%;
}

header {
    text-align: center;
    color: #fff;
    background: #18bc9c;
    min-height: 100%;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .head-title {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

header .intro-text .head-desc {
    font-size: 1.25em;
    font-weight: 300;
}


@media(min-width:768px) {
    header .container {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    header .intro-text .head-title {
        font-size: 4.75em;
    }

    header .intro-text .head-desc {
        font-size: 1.75em;
    }
}

section {
    padding: 100px 0;
}

.first-container {
    margin-top: 100px;
}

.panel-body {
    padding-top: 0px;
}

.publication-publiee {
    color: #5cb85c;
}

.publication-en-revision {
    color: #f0ad4e;
}

.publication-soumise {
    color: #337ab7;
}

.publication-box-publiee {
    border-left: 5px solid #5cb85c;
}

.publication-box-en-revision {
    border-left: 5px solid #f0ad4e;
}

.publication-box-soumise {
    border-left: 5px solid #337ab7;
}

.publication-box-en-revision, .publication-box-publiee, .publication-box-soumise {
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
    margin-top: 10px;
}

.panel-publication {
    margin-bottom: 0px;
}

#form-publication-container {
    background: #5cb85c;
    padding: 10px;
    border-radius: 1px;
}

.publication-title {
    color: #233140;
}

#form-filtre-container {
    background: #337ab7;
    padding: 10px;
    border-radius: 1px;
    text-align: center;
}

#category {
    margin-left: 14px;
}