<div class="container first-container" ng-controller="PublicationCtrl">

    <!-- title -->
    <div>

        <h1>
            Publication {{id}}
            <a class="pull-right" href="#/publications/{{page}}">
                <button class="btn btn-success">Retour</button>
            </a>
        </h1>

    </div>

    <!-- stats -->
    <div class="row" id="statistiques">

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-eye-open stats-glyphicon"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Vues</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-blue">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-save stats-glyphicon"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>Téléchargement</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <span class="glyphicon glyphicon-pencil stats-glyphicon"></span>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">3</div>
                            <div>New Tasks!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- content -->
    <div>

        <h2>Présentation</h2>
        <div>
            <ul class="list-group">
                <li class="list-group-item">2014-07-30</li>
                <li class="list-group-item publication-publiee">Publiée</li>
                <li class="list-group-item">Article dans des Conférences Internationales</li>
                <li class="list-group-item">En lien avec l'article articleswagg</li>
                <li class="list-group-item">Conférence sur les donuts à Paris</li>
            </ul>
            <div class="text-center">
                <button class="btn btn-info">
                    <span class="glyphicon glyphicon-save"></span> Télécharger le fichier
                </button>
            </div>
        </div>

        <h2>Auteurs</h2>
        <div>
            <div class="list-group users-group">
                <span class="list-group-item-heading">Aurélien Bénel</span>
                <div class="list-group-item-text">
                    Institut Charles Delaunay - Tech-CICO
                </div>
            </div>
            <div class="list-group users-group">
                <span class="list-group-item-heading">Monsieur Patate</span>
                <div class="list-group-item-text">
                    Institut Charles Delaunay - ERA
                </div>
            </div>
        </div>

    </div>

</div>